<p>
	Visitanos en: </br>
	&nbsp;&nbsp;&nbsp;Loma Panorámica 301-2 </br>
	&nbsp;&nbsp;&nbsp;Col. Loma Larga Los Magueyes </br>
	&nbsp;&nbsp;&nbsp;Monterrey, N.L.  C.P. 64710 </br>
</p>

<p>
	Llámanos:</br>
	&nbsp;&nbsp;&nbsp;Tel: 8342-6412</br>
	&nbsp;&nbsp;&nbsp;Tel: 8342-6514</br>
	&nbsp;&nbsp;&nbsp;Tel: 8343-3850</br>
</p>

<p>
	Contacto:</br>
	&nbsp;&nbsp;&nbsp;<a href="mailto:sic_psicologia@att.net.mx">sic_psicologia@att.net.mx</a></br>
	&nbsp;&nbsp;&nbsp;<a href="mailto:mario.garcia@alestra.net.mx">mario.garcia@alestra.net.mx</a>
</p>