		<h1>Soluciones a tus necesidades de evaluación de tu personal</h1>

		<p>Es muy importate que te ayudemos en el ajuste de la persona al puesto evaluado.</p>

		<p>Tenemos las herramientas psicológicas y psicométricas para lograrlo. Juntos conoceremos el puesto y nosotros compararemos éste con las gráficas de personalidad e inteligencia del candidato.</p>

		<p>Tenemos estadística suficiente para predecir: Inteligencia y Crecimiento; Personalidad y Adaptación.</p>

		<p>Reportamos rápidamente los resultados de un día para otro o en el mismo día si es necesario y apoyamos para la explicación necesaria a la satisfacción del cliente.</p>

		<p>Para ejecutivos utilizamos el Assesment Center junto con las pruebas psicológicas para dar el perfil de las habilidades personales, interpersonales y administrativas.</p>

		<p>Tenemos herramientas especiales para hacer diagnóstico de personal como escoltas, guardias, choferes, pilotos de avión o helicóptero, personas con responsabilidades especiales, que requieren de honestidad.</p>

		<p>Otorgamos las cartas de porte de arma después de un estudio especial en coordinación con la SEDENA.</p>

		<p>Hemos hecho estudios especiales de orientacion vocacional a hijos de ejecutivos o de trabajadores para minimizar este gasto.</p>