<p class="intro_titulo">
	Especialistas en dar soluciones en Psicología para las empresas
</p>
<p class="intro_descripcion">
	Te invitamos a conocer los servicios que tenemos para ofrecerte
</p>		 

<ul class="servicios_ofrecidos">
	<li><%= link_to 'Psicologia laboral', servicios_path %></li>
	<li><%= link_to 'Evaluación de Personal', evaluacion_personal_path %></li>
	<li><%= link_to 'Psicodiagnósticos y Psicoterapias', psicodiagnosticos_path %></li>
</ul>