<h1>Historia</h1>

<p>SicPsicología nació hace 23 años para dar servicio a empresas como Cemex, Protexa e Hylsa, que necesitaban evaluar y medir las habilidades psicológicas, personales y administrativas de su personal profesionista, y de esta manera dar la capacitación adecuada y formar sus cartas de  reemplazo. Se cubrió esta meta en 3 años y hemos seguido trabajando para otros clientes como Banorte y Banamex dandole apoyo y psicoterapia a su personal, así como estudios especiales. A Soriana le damos servicio en la evaluación de su personal de protección.</p>