<h1>Mario García Barella</h1>
<p>	
	Estudió la Licenciatura en Psicología en la UNAM,</br>
	Estudios en Psicología Laboral por la UDEM,</br>
	Diplomado en Evaluación Psicológica en la UANL,</br>
	Máster en Psicoterapia por el Instituto de Psicoterapia,</br>
	Especialista en Psicoterapia de Pareja por el Instituto de Psicoterapia.
</p>

<p>
	Inició su experiencia laboral en Hylsa, S. A.
	Fundó SIC Psicología
	Maestro en el ITESM, UANL e Instituto de Psicoterapia.
</p>

<p>Contamos con el apoyo de varios psicoterapeutas entrenados en el área laboral y clínica.</p>