<h1>Valores</h1>

<p>
	Exactitud en el diagn贸stico,</br>
	Adecuaci贸n del evaluado a su entorno,</br>
	Confidencialidad y Respeto de la informaci贸n personal,</br>
	Confidencialidad de la informaci贸n de la empresa,</br>
	Servicio.
</p>