<h1>Psicodiagnósticos para los casos especiales o críticos</h1>

<p>Ciertas actividades y puestos exigen personalidades honestas, eficientes, con tolerancia a la frustación y el estrés, como el caso de los escoltas, guardias, choferes de ejecutivos, pilotos de avión.</p>
	 
<p>Nosotros tenemos capacidad y experiecia para hacer estos psicodiagnósticos y extender las constancias necesarias.</p>
	 
<p>También podemos ayudar a los hijos de los trabajadores o de los ejecutivos que requieran orientación vocacional o apoyo cuando hay un desequilibrio académico, familiar o social.</p>