<h1>Psicoterapía para el personal</h1>
	
<p>Manejamos técnicas de psicoterapia para ayudar a empleados con problemas emocionales después de un estudio diagnóstico y procuramos coordinarnos con otras profesiones cuando son cuestiones de adicciones o problemas psiquiátricos, manejándolos con la mayor ética, sigilo y profesionalidad.</p>
 
<p>Ayudamos a los gerentes o directores para conocer los niveles de estrés y ansiedad del personal.</p>
 
<p>Apoyamos para buscar la salud y la higiene mental entre los trabajadores, así como el enriquecimiento de su trabajo.</p>

<div id="regresar">
	<ul class="servicios_ofrecidos">
		<li><a href="servicios">Regresar</a></li>
	</ul>
</div>