<h1>Resolución de conflictos</h1>

<p>Hemos utilizado las técnicas de consejo y de terapia de acción e interacción para manejar conflictos de los trabajadores, consigo mismos o con sus superiores, así como con el entorno. Todo esto en un ambiente ético donde se busca el acuerdo para el funcionamiento de las partes.</p>
 
<p>Este tema es delicado y requiere de madurez y una actitud positiva de los que intervenimos para la solución de los conflictos.</p>
 
<p>Podemos diagnosticar si hay problemas emocionales, medianos o graves para que con sumo tacto y ética se puedan resolver con las profesiones adecuadas para esto.</p>
 
<p>Podemos asesorar a las diferentes áreas respecto a los niveles de estrés, depresión o ansiedad que pueda tener el personal. Y buscar canalizarlos hacia soluciones.</p>

<div id="regresar">
	<ul class="servicios_ofrecidos">
		<li><a href="servicios">Regresar</a></li>
	</ul>
</div>