<div id="contacto">
	<div id="pc">
		<%= render partial: "contenido/contacto" %> 	
	</div>
	<div id="movil">
		<h1 class="centrar">CONTACTO</h1>
		<div id="informacion">
			<p>
			<strong>Visitanos en:</strong> </br>
			Loma Panorámica 301-2 </br>
			Col. Loma Larga Los Magueyes </br>
			Monterrey, N.L.</br>
			C.P. 64710 
			</p>

			<p>
			<strong>Llámanos:</strong></br>
			Tel: <a href="tel://+528183426412">8342-6412</a></br>
			Tel: <a href="tel://+528183426514">8342-6514</a></br>
			Fax: <a href="tel://+528183426514">8342-6514</a></br>
			</p>

			<p>
			<strong>Contacto:</strong></br>
			<a href="mailto:info@sicpsicologia.com">info@sicpsicologia.com</a></br>
			</p>		
		</div>
		<div class="mapa">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14384.743845275125!2d-100.33028348921401!3d25.665129556359148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be1ac189b88d%3A0xc38e1f3b9459b1a5!2sLoma+Panor%C3%A1mica+320%2C+Los+Magueyes%2C+Monterrey%2C+NL!5e0!3m2!1ses!2smx!4v1413221334577" width="150" height="300" frameborder="0" style="border:0"></iframe>
		</div>
	</div>
</div>