<div id="evaluacion_personal">
	<div id="pc">
			<%= render partial: "contenido/evaluacion_personal" %> 
	</div>

	<%= render partial: "contenido/menu_navegacion" %>

	<div id="movil">
		<div id="ajustar_texto">
			<%= render partial: "contenido/evaluacion_personal" %> 
		</div>
		<%= render partial: "contenido/informes" %> 
	</div>
</div>