<div id="inicio">
	<div id="pc">
		<%= render partial: "contenido/introduccion" %>
	</div>

	<%= render partial: "contenido/menu_navegacion" %>
	
	<div id="movil">
		<%= render partial: "contenido/introduccion" %>
		<%= link_to image_tag(""), servicios_path %>
	</div>
</div>