<div id="servicios">
	<div id="pc">
		<%= render partial: "contenido/psicoterapia" %>
	</div>

	<%= render partial: "contenido/menu_navegacion" %>
	
	<div id="movil">
		<div id="ajustar_texto">
			<%= render partial: "contenido/psicoterapia" %> 
		</div>	
		<%= render partial: "contenido/informes" %>
	</div>
</div>