<div id="servicios">
	<div id="pc">
		<%= render partial: "contenido/psicologia_laboral" %> 		
	</div>

	<div id="movil">
		<%= render partial: "contenido/psicologia_laboral" %> 	
		
		<%= render partial: "contenido/informes" %> 
	</div>
</div>