<div id="servicios">
	<h1>Servicios</h1>

	<ul>
		<li><a href="#soluciones">Soluciones a tus necesidades de evaluación de tu personal</a></li>
		<li><a href="#apoyo">Apoyo en los conflictos humanos</a></li>
		<li><a href="#psicoterapia">Psicoterapia para el personal con problemas emocionales</a></li>
		<li><a href="#psicodiagnosticos">Psicodiagnósticos para los casos especiales o críticos</a></li>
		<li><a href="#apoyo2">Apoyo para tu personal en cualquier necesidad en la que se requieran conocimientos profesionales de la psicología laboral y clínica</a></li>
	</ul>

	<h1><a name="soluciones">Soluciones a tus necesidades de evaluación de tu personal</a></h1>

	<p>Es muy importate que te ayudemos en el ajuste de la persona al puesto evaluado.</p>

	<p>Tenemos las herramientas psicológicas y psicométricas para lograrlo. Juntos conoceremos el puesto y nosotros compararemos éste con las gráficas de personalidad e inteligencia del candidato.</p>

	<p>Tenemos estadística suficiente para predecir: Inteligencia y Crecimiento; Personalidad y Adaptación.</p>

	<p>Reportamos rápidamente los resultados de un día para otro o en el mismo día si es necesario y apoyamos para la explicación necesaria a la satisfacción del cliente.</p>

	<p>Para ejecutivos utilizamos el Assesment Center junto con las pruebas psicológicas para dar el perfil de las habilidades personales, interpersonales y administrativas.</p>

	<p>Tenemos herramientas especiales para hacer diagnóstico de personal como escoltas, guardias, choferes, pilotos de avión o helicóptero, personas con responsabilidades especiales, que requieren de honestidad.</p>

	<p>Otorgamos las cartas de porte de arma después de un estudio especial en coordinación con la SEDENA.</p>

	<p>Hemos hecho estudios especiales de orientacion vocacional a hijos de ejecutivos o de trabajadores para minimizar este gasto.</p>

	<h1><a name="apoyo">Apoyo en los conflictos humanos</a></h1>

	<p>Hemos utilizado las técnicas de consejo y de terapia de acción e interacción para manejar conflictos de los trabajadores, consigo mismos o con sus superiores, así como con el entorno. Todo esto en un ambiente ético donde se busca el acuerdo para el funcionamiento de las partes.</p>

	<p>Este tema es delicado y requiere de madurez y una actitud positiva de los que intervenimos para la solución de los conflictos.</p>

	<p>Podemos diagnosticar si hay problemas emocionales, medianos o graves para que con sumo tacto y ética se puedan resolver con las profesiones adecuadas para esto.</p>

	<p>Podemos asesorar a las diferentes áreas respecto a los niveles de estrés, depresión o ansiedad que pueda tener el personal. Y buscar canalizarlos hacia soluciones.</p>

	<h1><a name="psicoterapia">Psicoterapia para el personal con problemas emocionales</a></h1>
	<p>Manejamos técnicas de psicoterapia para ayudar a empleados con problemas emocionales después de un estudio diagnóstico y procuramos coordinarnos con otras profesiones cuando son cuestiones de adicciones o problemas psiquiátricos, manejándolos con la mayor ética, sigilo y profesionalidad.</p>
	 
	<p>Ayudamos a los gerentes o directores para conocer los niveles de estrés y ansiedad del personal.</p>
	 
	<p>Apoyamos para buscar la salud y la higiene mental entre los trabajadores, así como el enriquecimiento de su trabajo.</p>

	<h1><a name="psicodiagnosticos">Psicodiagnósticos para los casos especiales o críticos</a></h1>

	<p>Ciertas actividades y puestos exigen personalidades honestas, eficientes, con tolerancia a la frustación y el estrés, como el caso de los escoltas, guardias, choferes de ejecutivos, pilotos de avión.</p>
	 
	<p>Nosotros tenemos capacidad y experiecia para hacer estos psicodiagnósticos y extender las constancias necesarias.</p>
	 
	<p>También podemos ayudar a los hijos de los trabajadores o de los ejecutivos que requieran orientación vocacional o apoyo cuando hay un desequilibrio académico, familiar o social.</p>

	<h1><a name="apoyo2">Apoyo para tu personal en cualquier necesidad en la que se requieran conocimientos profesionales de la psicología laboral y clínica</a></h1>

	<p>Contamos con profesionistas experimentados en las áreas laborales y clínicas para ayudarlos en los problemas que pueda tener la empresa con su personal.</p>
	 
	<p>Tenemos experiencia conjunta en selección de personal, consejería y psicoterapia.</p>
	 
	<p>Nos coordinamos con diferentes profesiones y con varios Institutos para tener respaldo y eficiencia.</p>
</div>