body{
	margin:0;
	padding:0;
	background-color: #a6a6a6;
}

#banner{
	display: block;
	min-width: 321px;	
	max-width: 1024px;
	height: 80px;
	margin: 0 auto 10px auto;
	background-color: #555555;
	/*background-image:url('/images/banner.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;	
	background-size: 100% 300px; 
	background-position: right -100px;*/

}

#pc{
	min-width: 401px;
	max-width: 980px;
	min-height:  500px;
	display: block;
	padding: 30px;
}

#movil,
#movil_barra_izq,
#movil_barra_der{
	display: none;
}

#footer{
	display: block;
	background-color: #555555;
	min-width: 321px;	
	max-width: 1024px;
	/*font-size: 10px;*/
	height: 20px;
	margin: 10px auto 0 auto;	
}

#footer ul{
	list-style: none;
	display: block;
}

#footer ul li{
	width: 20%;
	margin-top:2px;
	font-size: 15px;
	float: left;
}

#inicio, 
#clientes, 
#contacto, 
#nosotros, 
#servicios,
#evaluacion_personal,
#psicodiagnosticos{
	min-width: 321px;	
	max-width: 1004px;
	padding: 10px;
	margin: 10px auto 0 auto;
	z-index: -1;
}

#nosotros,#contacto{
	max-width: 974px;
	padding: 30px;
}
	
#inicio,#nosotros,#contacto{
	background: #007faa; /* Old browsers */
	background: -moz-linear-gradient(top,  #007faa 0%, #40bfdf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007faa), color-stop(100%,#40bfdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #007faa 0%,#40bfdf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #007faa 0%,#40bfdf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #007faa 0%,#40bfdf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #007faa 0%,#40bfdf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007faa', endColorstr='#40bfdf',GradientType=0 ); /* IE6-9 */
}

#servicios{
	background-image:url('/images/sicweb1024x768/bg02.jpg'); 
	background-attachment: fixed;
	background-position: center;	
}

#evaluacion_personal{
	background-image:url('/images/sicweb1024x768/bg01.jpg'); 
	background-attachment: fixed;
	background-position: center;		
}

#psicodiagnosticos{
	background-image:url('/images/sicweb1024x768/bg03.jpg'); 
	background-attachment: fixed;	
	background-position: center;	
}	

#clientes{
	/*background-image:url('/images/evaluacionpersonalBG.jpg'); 
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

#ajustar_texto{
	width: 310px;
	min-height: 200px;
	max-height: 428px;
	text-overflow: ellipsis;
   	word-wrap: break-word;
	overflow: hidden;
}

#ver_mas{
	width: 150px;
	min-height: 25px;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	padding: 5px;
	margin: 0 auto 0 auto;
}

#ver_mas:hover{
	font-weight: bold;
	opacity: 0.5;
	background-color: #000000;
}

	.servicios_ofrecidos{
		min-width: 200px;
		max-width: 350px;
		display: block;
		list-style: none;
		margin: 0 auto 0 auto;
	}

	.servicios_ofrecidos li{
		border: 1px solid #FFFFFF;
		margin-top: 10px;
		text-align: center;
	}

	.servicios_ofrecidos li:hover{
		opacity: 0.5;
		background-color: #000000;
	}	

	.servicios_ofrecidos li a{
		text-decoration: none;
		padding: 5px;
	}

h1, .anclas {
	font-size: 41px;
	color: #FFFFFF;
	font-weight: bold;
}

p,a,li{
	font-size: 25px;
	color: #FFFFFF;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #FFFFFF;
}

.centrar{
	margin: 0 auto 0 auto;
	text-align: center;
}

#borrar,
.borrar{
	display: none;
}