body{
	 background-color: #555555;
}

#pc{
	display: block;
}	

	.movil_slider,
	#movil{
	display: none;
}	

#inicio, 
#clientes, 
#contacto, 
#nosotros, 
#servicios,
#evaluacion_personal,
#psicodiagnosticos{
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 2.5%;
}

#ver_mas{
	width: 150px;
	min-height: 25px;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	padding: 5px;
	margin: 0 auto 0 auto;
}

#ver_mas:hover{
	font-weight: bold;
	opacity: 0.5;
	background-color: #000000;
}

h1, .anclas {
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
}

p{
	color: #FFFFFF;
}

li{
	color: #FFFFFF;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #FFFFFF;
}