body{
	 background-color: #555555;
}

#inicio, #clientes, #contacto, #nosotros, #servicios{
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 2.5%;
}

h1 {
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
}

p{
	color: #FFFFFF;
}

li{
	color: #FFFFFF;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #FFFFFF;
}