/* iPhone 5 in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape){ 

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 

}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){

}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){

}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){

}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){

}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
}

@media screen and (max-width: 400px){
	
	#inicio, #clientes, #contacto, #nosotros, #servicios{
		width: 100%;
		margin: 0 auto 0 auto;
		padding: 2.5%;
	}
	
	#inicio{
		background-image:url('/images/evaluacionpersonalBG.jpg'); 
		background-repeat: no-repeat;
		background-attachment: fixed;	
	}

	#nosotros{
		background-image:url('/images/evaluacionpersonalBG.jpg'); 
		background-repeat: no-repeat;
		background-attachment: fixed;	
	}	

	#servicios{
		background-image:url('/images/evaluacionpersonalBG.jpg'); 
		background-repeat: no-repeat;
		background-attachment: fixed;	
	}

	#clientes{
		background-image:url('/images/evaluacionpersonalBG.jpg'); 
		background-repeat: no-repeat;
		background-attachment: fixed;	
	}	

	#contacto{
		background-image:url('/images/contactoBG.jpg'); 
		background-repeat: no-repeat;
		background-attachment: fixed;	
	}
}