/* iPhone 5 in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape){ 

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 

}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){

}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){

}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){

}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){

}

/* #### Desktops #### */
@media screen and (max-width: 400px){
	body{
		background-color: #FFF;
	}
	h1{
		font-size: 33px;
	}

	p,a{
		font-size: 13px;
	}

	#pc,#footer,#banner,#regresar{
		display: none;
	}

	#movil{
		min-width:300px;
		max-width:380px;
		height:528px;	
		padding: 5px;			
		display: block;
		overflow: hidden;
		margin: 0 auto 0 auto;
	}

	#inicio, 
	#clientes, 
	#contacto, 
	#nosotros, 
	#servicios,
	#evaluacion_personal,
	#psicodiagnosticos
	{
		width: 320px;
	}
	
	#inicio,#nosotros{
		background-color: #EDA535;
	}

	#servicios{
		background-image:url('/images/sicweb320x578/bg02.jpg');
		background-size: 320px 568px; 
		background-attachment: fixed;	
	}

	#evaluacion_personal{
		background-image:url('/images/sicweb320x578/bg01.jpg'); 
		background-size: 320px 568px; 
		background-attachment: fixed;	
	}

	#psicodiagnosticos{
		background-image:url('/images/sicweb320x578/bg03.jpg'); 
		background-size: 320px 568px; 
		background-attachment: fixed;	
	}	

	#clientes{
	}

	#ajustar_texto{
		width: 320px;
		min-height: 200px;
		max-height: 428px;
		text-overflow: ellipsis;
    	word-wrap: break-word;
		overflow: hidden;
	}

	#ver_mas{
		width: 150px;
		min-height: 25px;
		max-height: 88px;
		font-size: 15px;
		text-align: left;
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
		padding: 5px;
		margin: 10px auto 0 auto;
	}	

	.servicios_ofrecidos{
		display: block;
		list-style: none;
	}

	.servicios_ofrecidos li{
		width: 200px;
		height: 20px;
		border: 1px solid #FFFFFF;
		padding: 1px;
		margin-top: 10px;
		text-align: center;
	}

	.servicios_ofrecidos li:hover{
		opacity: 0.5;
		background-color: #000000;
	}	

	.servicios_ofrecidos li a{
		text-decoration: none;
	}

	#informacion{
		width: 150px;
		margin: 20px 5px 5px 5px;
		float: left;
	}

	#mapa{
		width: 150px;
		margin: 20px 5px 5px 5px;
		float: right;
	}

	.centrar{
	margin: 10px auto 20px auto;
	text-align: center;
	}
}

@media screen and (min-width: 401px) and (max-width: 800px) { /*sicweb800x600*/
	h1{
		font-size: 35px;
	}

	p,a{
		font-size: 18px;
	}

	#movil, #footer,#banner,#regresar{
		display: none;
	}

	#pc,#regresar{
		display: block;
	}

	#inicio, 
	#clientes, 
	#contacto, 
	#nosotros, 
	#servicios,
	#evaluacion_personal,
	#psicodiagnosticos{
	min-width: 401px;	
	max-width: 780px;
	padding: 10px;
	margin: 10px;
}
	
	#contacto{
		background-color: #FF0000;
	}
}

@media screen and (min-width: 801px) and (max-width: 1023px){
	#banner{
		display: block;
		background-color: #555555;
		min-width: 781px;	
		max-width: 1003px;
		height: 80px;
		margin: 0px 10px 10px 10px;	
	}

	#movil{
		display: none;
	}

	#pc,#regresar{
		display: block;
	}

	#inicio, 
	#clientes, 
	#contacto, 
	#nosotros, 
	#servicios,
	#evaluacion_personal,
	#psicodiagnosticos{
		min-width: 761px;	
		max-width: 1003px;
		padding: 10px;
		margin: 10px;
	}

	#footer{
		display: block;
		background-color: #555555;
		min-width: 781px;	
		max-width: 1003px;
		height: 20px;
		margin: -10px 10px 10px 10px;		
	}	

	h1{
		font-size: 40px;
	}

	p,a{
		font-size: 20px;
	}
}

@media screen and (min-width: 1024px){


}