/* iPhone 5 in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape){ 

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 

}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){

}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){

}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){

}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){

}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
}

@media screen and (max-width: 400px){
	#pc{
		display: none;
	}	

	#movil,
	.movil_slider{
		display: block;
	}	

	.movil_inicio,
	.movil_clientes,
	.movil_contacto,
	.movil_nosotros,
	.movil_servicios,
	.movil_servicios_casos,
	.movil_servicios_resolucion,
	.movil_servicios_psicoterapia,
	.movil_evaluacion_personal,
	.movil_psicodiagnosticos{
		min-width: 310px;
		max-width: 380px;
		height:532px;	
		overflow: scroll;
		padding: 5px;	
	}

	.movil_inicio,
	.movil_contacto,
	.movil_servicios,
	.movil_servicios_resolucion,
	.movil_evaluacion_personal{	
		background-color: #FF0000;	
	}	

	.movil_clientes,
	.movil_nosotros,
	.movil_servicios_casos,
	.movil_servicios_psicoterapia,
	.movil_psicodiagnosticos{
		background-color: #0000FF;			
	}	

	#inicio, 
	#clientes, 
	#contacto, 
	#nosotros, 
	#servicios,
	#evaluacion_personal,
	#psicodiagnosticos
	{
		min-width: 310px;
		max-width: 390px;
		height:568px;
		margin: 0 auto 0 auto;
		padding: 5px;

	}
	
	#inicio{
		background-color: #EDA535;
	}

	#nosotros{
		background-color: #EDA535;
	}

	#servicios{
		background-image:url('/images/psicologialaboralBG.jpg'); 
		background-repeat: no-repeat;
		background-attachment: fixed;	
	}

	#evaluacion_personal{
		background-image:url('/images/evaluacionpersonalBG.jpg'); 
		background-repeat: no-repeat;
		background-attachment: fixed;	
	}

	#psicodiagnosticos{
		background-image:url('/images/psicodiagnosticoBG.jpg'); 
		background-repeat: no-repeat;
		background-attachment: fixed;	
	}	

	#clientes{
		/*background-image:url('/images/evaluacionpersonalBG.jpg'); 
		background-repeat: no-repeat;
		background-attachment: fixed;*/
	}

	#contacto{
		background-image:url('/images/contactoBG.jpg'); 
		background-repeat: no-repeat;
		background-attachment: fixed;	
	}
}