<ul>
	<li>Ternium</li>
	<li>Hylsa</li>
	<li>Soriana</li>
	<li>Gemsa</li>
	<li>Sigma</li>
	<li>Cintermex</li>
	<li>Corporacion Control</li>
	<li>Grupo Protexa</li>	
	<li>Tubacero</li>	
	<li>Banorte-General Seguros</li>	
	<li>Zimmer</li>	
	<li>Cemex</li>	
	<li>Gamesa</li>	
	<li>Apasco</li>	
	<li>RockTenn</li>				
	<li>Ingersoll Rand</li>	
	<li>Bredero Shaw</li>	
	<li>Seguros Monterrey</li>			
	<li>Alfa</li>						
</ul>
